In [1]:
import numpy as np 
import pandas as pd

GroupBy

In [10]:
data = {
    'Category': ['A','B','A','B','A','B','A','B'],
    'Store':['s1','s1','s2','s2','s1','s2','s2','s1'],
    'Sales':[100, 200, 150, 250, 120, 180, 200, 308],
    'Quality':[10, 15, 12, 18, 8, 20, 15, 25],
    'Data': pd.date_range('2023-01-01' , periods = 8)
}
df = pd.DataFrame(data)

In [11]:
df

  Category Store  Sales  Quality       Data
0        A    s1    100       10 2023-01-01
1        B    s1    200       15 2023-01-02
2        A    s2    150       12 2023-01-03
3        B    s2    250       18 2023-01-04
4        A    s1    120        8 2023-01-05
5        B    s2    180       20 2023-01-06
6        A    s2    200       15 2023-01-07
7        B    s1    308       25 2023-01-08

In [7]:
# Group by category and calculate the sum of sales

In [18]:
cat = df.groupby('Category')
cat
for i , v in cat:
    print(i)
    print(v)

A
  Category Store  Sales  Quality       Data
0        A    s1    100       10 2023-01-01
2        A    s2    150       12 2023-01-03
4        A    s1    120        8 2023-01-05
6        A    s2    200       15 2023-01-07
B
  Category Store  Sales  Quality       Data
1        B    s1    200       15 2023-01-02
3        B    s2    250       18 2023-01-04
5        B    s2    180       20 2023-01-06
7        B    s1    308       25 2023-01-08

In [20]:
cat = df.groupby('Category')['Sales'].sum()
cat

Category
A    570
B    938
Name: Sales, dtype: int64

In [ ]:
# Group by store and calculate the sum of sales

In [21]:
cat = df.groupby('Store')['Sales'].sum()
cat

Store
s1    728
s2    780
Name: Sales, dtype: int64

In [22]:
# Group by multiple column
# Group by Category and Store

In [24]:
cat = df.groupby(['Category', 'Store'])['Sales'].sum()
cat

Category  Store
A         s1       220
          s2       350
B         s1       508
          s2       430
Name: Sales, dtype: int64

Aggregation

In [26]:
df['Sales'].mean()
""" mean , median, mode, max, min, std"""

np.float64(188.5)

In [27]:
df['Sales'].median()

190.0

In [28]:
df['Sales'].mode()

0    200
Name: Sales, dtype: int64

In [29]:
df['Sales'].max()

308

In [30]:
df['Sales'].min()

100

In [31]:
df['Sales'].std()

68.03990425793214

In [ ]:
# How work multiple Aggregation

In [33]:
df['Sales'].agg(['sum', 'mean', 'median', 'count', 'std', 'max', 'min'])

sum       1508.000000
mean       188.500000
median     190.000000
count        8.000000
std         68.039904
max        308.000000
min        100.000000
Name: Sales, dtype: float64